<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/file.css" />
	<link rel="stylesheet" type="text/css" href="/css/editfile.css" />
	<title>EDIT FILE</title>
</head>
<body>

<div class="centerBox">
	<div class="editBlock">
		<table class="edit">
			<tbody>
				<tr>
					<td class="editMain">
						<table class="fileTop">
							<tbody>
								<tr>
									<td class="fileName">
										<div id="file_name">Filename</div>
									</td>
									<td class="fileActions">
										<div id="file_back" class="fileBtn" onclick="history.back()">BACK</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="fileLine"></div>
						<div class="content">
							<div class="textBlock">
								<div class="toolbar">
									<button id="person" class="toolBtn person">PERSON</button>
									<button id="org" class="toolBtn org">ORG</button>
									<button id="location" class="toolBtn location">LOCATION</button>
									<button id="other" class="toolBtn other">OTHER</button>
								</div>
                <form action="/editfile/<%= fileId %>/<%= markdown %>/<%= nextPart %>" method="POST" id="textForm">
								  <div id="textArea">
                    <%= part %> 
                  </div>
                  <input type="hidden" name="text" id="text">
                </form>
							</div>
						</div>
						<div class="fileLine"></div>
						<table class="fileBottom">
							<tbody>
								<tr>
									<td class="acceptBtn">
										<div id="file_accept" class="fileBtn">ACCEPT</div>
									</td>
									<td class="clearBtn">
										<div id="file_clear" class="fileBtn">CLEAR</div>
									</td>
									<td class="skipBtn">
										<div id="file_skip" class="fileBtn">SKIP</div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td class="editSide">
						<div class="sideLabel">
							<p>MARKDOWN TYPE</p>
						</div>
						<div class="fileLine"></div>
						<div class="sideInfo">
							<div id="piece">
								<p class="infoLabel">PIECE: </p>
								<p class="infoValue">XX/XX</p>
							</div>
							<div id="accepted">
								<p class="infoLabel">ACCEPTED: </p>
								<p class="infoValue">XX</p>
							</div>
							<div id="skipped">
								<p class="infoLabel">SKIPPED: </p>
								<p class="infoValue">XX</p>
							</div>
							<div id="left">
								<p class="infoLabel">LEFT: </p>
								<p class="infoValue">XX</p>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script src="/scripts/editfile.js"></script>

</body>
</html>
