<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/file.css" />
	<link rel="stylesheet" type="text/css" href="/css/editfile.css" />
	<title>EDIT FILE</title>
</head>
<body>

<div class="centerBox">
	<div class="editBlock">
		<table class="edit">
			<tbody>
				<tr>
					<td class="editMain">
						<table class="fileTop">
							<tbody>
								<tr>
									<td class="fileName">
										<div id="file_name">Filename</div>
									</td>
									<td class="fileActions">
										<div id="file_back" class="fileBtn" onclick="history.back()">BACK</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="fileLine"></div>
						<div class="content">
							<div class="textBlock">
								<div class="toolbar">
									<button id="person" class="toolBtn person">PERSON</button>
									<button id="org" class="toolBtn org">ORG</button>
									<button id="location" class="toolBtn location">LOCATION</button>
									<button id="other" class="toolBtn other">OTHER</button>
								</div>
                <form action="/editfile/<%= fileId %>/<%= markdown %>/<%= nextPart %>" method="POST" id="textForm">
								  <div id="textArea">
                    <%= part %> 
                  </div>
                  <input type="hidden" name="text" id="text">
                </form>
							</div>
						</div>
						<div class="fileLine"></div>
						<table class="fileBottom">
							<tbody>
								<tr>
									<td class="acceptBtn">
										<div id="file_accept" class="fileBtn">ACCEPT</div>
									</td>
									<td class="clearBtn">
										<div id="file_clear" class="fileBtn">CLEAR</div>
									</td>
									<td class="skipBtn">
										<div id="file_skip" class="fileBtn">SKIP</div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td class="editSide">
						<div class="sideLabel">
							<p>MARKDOWN TYPE</p>
						</div>
						<div class="fileLine"></div>
						<div class="sideInfo">
							<div id="piece">
								<p class="infoLabel">PIECE: </p>
								<p class="infoValue">XX/XX</p>
							</div>
							<div id="accepted">
								<p class="infoLabel">ACCEPTED: </p>
								<p class="infoValue">XX</p>
							</div>
							<div id="skipped">
								<p class="infoLabel">SKIPPED: </p>
								<p class="infoValue">XX</p>
							</div>
							<div id="left">
								<p class="infoLabel">LEFT: </p>
								<p class="infoValue">XX</p>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
const FROM_DB = document.getElementById("textArea").innerHTML + '';

const text = FROM_DB.replace(/\s\s+/g, ' ');

const words = text.split(' ');

document.getElementById('textArea').innerHTML = '';

for (let i = 0; i < words.length; i++) {
	document.getElementById('textArea').innerHTML += `<span class="word" id="word${i}">${words[i]}</span> `;
}

const wordObjects = document.querySelectorAll('.word');

const selectColor = (words, color) => {
	words.forEach(word => {
		word.addEventListener('click', () => {
			word.classList.add('painted');
			word.setAttribute('style', `background-color: ${color}; color: #1b2b36`);
		});
	});
}

document.getElementById('person').addEventListener('click', () => {
	if (!document.getElementById('person').classList.contains('selected')) {
		for (const btn of document.querySelectorAll('.toolBtn')) {
			btn.classList.remove('selected');
		}
		document.getElementById('person').classList.add('selected');
	}
	selectColor(wordObjects, '#d79bf2');
});

document.getElementById('org').addEventListener('click', () => {
	if (!document.getElementById('org').classList.contains('selected')) {
		for (const btn of document.querySelectorAll('.toolBtn')) {
			btn.classList.remove('selected');
		}
		document.getElementById('org').classList.add('selected');
	}
	selectColor(wordObjects, '#eff29b');
});

document.getElementById('location').addEventListener('click', () => {
	if (!document.getElementById('location').classList.contains('selected')) {
		for (const btn of document.querySelectorAll('.toolBtn')) {
			btn.classList.remove('selected');
		}
		document.getElementById('location').classList.add('selected');
	}
	selectColor(wordObjects, '#9bf2bc');
});

document.getElementById('other').addEventListener('click', () => {
	if (!document.getElementById('other').classList.contains('selected')) {
		for (const btn of document.querySelectorAll('.toolBtn')) {
			btn.classList.remove('selected');
		}
		document.getElementById('other').classList.add('selected');
	}
	selectColor(wordObjects, '#f29b9b');
});

document.getElementById('file_accept').addEventListener('click', () => {
  const editedText = document.getElementById('textArea').innerHTML;
  document.getElementById('text').value = editedText;
  document.getElementById('textForm').submit();
})

document.getElementById('file_clear').addEventListener('click', () => {
  window.location.reload();
})
</script>

</body>
</html>
