<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../public/css/style.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/panel.css" />
	<title></title>
</head>
<body>

<div class="panelCenter">
	<div class="panelBlock">
		<table class="panel">
			<tbody>
				<tr>
					<td class="main">
						<table class="mainTop">
							<tbody>
								<tr>
									<td class="switchTab">
										<table class="switchTab">
											<tbody>
												<tr>
													<td class="download">DOWNLOAD</td>
													<td class="switchBtn">
														<label class="switch">
															<input type="checkbox" />
															<span class="slider"></span>
														</label>
													</td>
													<td class="edit">EDIT</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td class="filter">
										<div class="filter">
											<div class="dropCtgr">
												<input id="category" type="text" placeholder="CATEGORY" />
												<div class="ctgrList">
													<div id="ctgr1" class="dropItem">Category 1</div>
													<div id="ctgr2" class="dropItem">Category 2</div>
													<div id="ctgr3" class="dropItem">Category 3</div>
													<div class="dropItem">Category 3</div>
													<div class="dropItem">Category 3</div>
													<div class="dropItem">Category 3</div>
													<div class="dropItem">Category 3</div>
													<div class="dropItem">Category 3</div>
													<div class="dropItem">Category 3</div>
													<div class="dropItem">Category 3</div>
													<div class="dropItem">Category 3</div>
												</div>
											</div>
											<div class="dropStl">
												<input id="style" type="text" placeholder="STYLE" />
												<div class="stlList">
													<div id="stl1" class="dropItem">Style 1</div>
													<div id="stl2" class="dropItem">Style 2</div>
													<div id="stl3" class="dropItem">Style 3</div>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="panelLine"></div>
						<div id="main" class="content">
							
						</div>
					</td>
					<td class="side">
						<table class="sideTop">
							<tbody>
								<tr>
									<td class="user">
										<div class="userName">
											Username
										</div>
										<div class="userRole">
											ROLE
										</div>
									</td>
									<td class="logOut">
										<div class="logBtn">LOG OUT</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="panelLine"></div>
						<div id="side" class="content">
							
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</body>
</html>
