<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../public/css/style.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/auth.css" />
	<title>LOG IN</title>
</head>
<body>

<div class="authCenter">
	<div class="authBlock">
		<div class="authHeader">AUTHORIZATION</div>
		<div class="authLine"></div>
		<form class="authForm">
			<input id="eml" type="email" placeholder="EMAIL" />
			<input id="password" type="password" placeholder="PASSWORD" />
			<input class="button" id="submit" type="submit" value="LOG IN" />
		</form>
		<div class="authSugBtn">
			DON'T HAVE AN ACCOUNT YET?
			<a href="./register.html">REGISTER NOW</a>
		</div>
	</div>
</div>

</body>
</html>
