<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="./style.css" />
	<link rel="stylesheet" type="text/css" href="./auth.css" />
	<title>REGISTER</title>
</head>
<body>

<div class="authCenter">
	<div class="authBlock">
		<div class="authHeader">AUTHORIZATION</div>
		<div class="authLine"></div>
		<form class="authForm">
			<input id="usrname" type="text" placeholder="USERNAME" />
			<input id="eml" type="email" placeholder="EMAIL" />
			<input id="password" type="password" placeholder="PASSWORD" />
			<input id="conf_password" type="password" placeholder="CONFIRM PASSWORD" />
			<input class="button" id="submit" type="submit" value="REGISTER" />
		</form>
		<div class="authSugBtn">
			ALREADY HAVE AN ACCOUNT?
			<a href="./login.html">LOG IN</a>
		</div>
	</div>
</div>

</body>
</html>
