<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../public/css/style.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/file.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/viewfile.css" />
	<title>VIEW FILE</title>
</head>
<body>

<div class="centerBox">
	<div class="viewBlock">
		<table class="fileTop">
			<tbody>
				<tr>
					<td class="fileName">
						<div id="file_name">Filename</div>
					</td>
					<td class="fileActions">
						<div id="markdown" class="fileMarkdown">
							<div class="markdownLabel">MARKDOWN TYPE</div>
							<div class="fileDrpDn">
								<div class="fileDrpItm">NER</div>
								<div class="fileDrpItm">Sentiment</div>
								<div class="fileDrpItm">Intent Recognition</div>
							</div>
						</div>
						<div id="progress" class="fileProgress">
							30%
							<div class="progressBar"></div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="fileLine"></div>
		<div class="content">
			
		</div>
		<div class="fileLine"></div>
		<table class="fileBottom">
			<tbody>
				<tr>
					<td class="backBtn">
						<div id="file_back" class="fileBtn">BACK</div>
					</td>
					<td class="editBtn">
						<div id="file_edit" class="fileBtn">EDIT</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</body>
</html>
