<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../public/css/style.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/file.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/viewfile.css" />
	<title>VIEW FILE</title>
</head>
<body>

<div class="centerBox">
	<div class="viewBlock">
		<table class="fileTop">
			<tbody>
				<tr>
					<td class="fileName">
						<div id="file_name"><%= file.name %> </div>
					</td>
					<td class="fileActions">
						<div id="markdown" class="fileMarkdown">
							<select class="fileDrpDn">
                <option value="0" class="fileDrpItm">MARKDOWN TYPE</option>
								<option value="1" class="fileDrpItm">NER</option>
								<option value="2" class="fileDrpItm">Sentiment</option>
								<option value="3" class="fileDrpItm">Intent Recognition</option>
              </select>
						</div>
						<div id="progress" class="fileProgress">
							<%= file.statusNer %>% 
							<progress class="progressBar" max="100" value="<%=file.statusNer%>"></progress>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="fileLine"></div>
		<div class="content">
			
		</div>
		<div class="fileLine"></div>
		<table class="fileBottom">
			<tbody>
				<tr>
					<td class="backBtn">
						<a id="file_back" class="fileBtn" href="/index">BACK</a>
					</td>
					<td class="editBtn">
						<a id="file_edit" class="fileBtn" href="/editfile">EDIT</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</body>
</html>
